.top {
  position: absolute;
  inset: 0;
  z-index: -10;
  background-position: 35% top;
  background-repeat: no-repeat;

  @media (min-width: 640px) {
    background-position: 38% top;
  }

  @media (min-width: 768px) {
    background-position: 40% top;
  }

  @media (min-width: 1024px) {
    background-position: 44% top;
  }

  @media (min-width: 1280px) {
    background-position: top;
  }

  &:focus-visible {
    display: none;
  }
}

.bottom {
  position: absolute;
  inset: 0;
  z-index: -10;
  background-position: 35% bottom;
  background-repeat: no-repeat;
  mix-blend-mode: screen;

  @media (min-width: 640px) {
    background-position: 38% bottom;
  }

  @media (min-width: 768px) {
    background-position: 40% bottom;
  }

  @media (min-width: 1024px) {
    background-position: 44% bottom;
  }

  @media (min-width: 1280px) {
    background-position: bottom;
  }

  &:focus-visible {
    display: none;
  }
}

.noise {
  position: absolute;
  inset: 0;
  z-index: -5;
  background-position: top;
  opacity: 0.1;

  &:focus-visible {
    display: none;
  }
}

.light {
  &Right {
    position: fixed;
    right: -55%;
    z-index: -1;
    width: 100%;
    height: 100svh;
    transform: rotate(12deg) scale(1.2);

    opacity: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    transition: opacity 0.3s ease, transform 0.3s ease;
    background-size: cover;
    background-repeat: no-repeat;
    mix-blend-mode: screen;
  }

  &Left {
    position: fixed;
    left: -30%;
    z-index: -1;
    background-position: top;
    width: 100%;
    height: 100svh;

    opacity: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    transition: opacity 0.3s ease, transform 0.3s ease;
    background-size: cover;
    background-repeat: no-repeat;
    mix-blend-mode: screen;
  }
}
