@import 'src/styles/mixins';
@import 'src/styles/utils';

.container {
  @include space-y(1rem);
}

.card {
  position: relative;
  height: 256px;
  display: grid;
  place-items: center;
  background: foreground(0.05);
  transition: background-color 128ms ease;
  padding: 20px;

  &:hover,
  &:focus {
    background: foreground(0.06);
  }

  &Highlight {
    z-index: -1;
    position: absolute;
    inset: 25%;
    border-radius: 9999px;
    background: foreground(0.15);
    filter: blur(24px);
  }

  &Actions {
    position: absolute;
    font-size: 12px;
    top: 8px;
    right: 8px;
    display: flex;
    gap: 10px;
    align-items: center;
    opacity: 0;

    .card:hover & {
      opacity: 100;
    }
  }
}

.title {
  font-weight: 500;
}
