@import 'src/styles/variables';
@import 'src/styles/mixins';
@import 'src/styles/utils';

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100svh;
  width: 100%;
}

.preview {
  &Container {
    position: relative;
    height: 100svh;
    width: 100%;

    @media(max-width: $screen-sm) {
      position: absolute;
      z-index: -10;
    }
  }

  &Image {
    position: absolute;
    inset: 0;
    z-index: -10;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &Author {
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 20;
    padding: 8px;
    border-radius: 12px;
    backdrop-filter: blur(40px);
    background: primary(0.1);
    border: 1px solid foreground(0.2);
    display: flex;
    gap: 8px;
    align-items: center;

    @media (max-width: $screen-sm) {
      display: none;
    }

    &Avatar {
      width: 42px;
      height: 42px;
      border-radius: 50%;
      grid-row: span 2;
      background: white;
    }

    &Name {
      @include font-base;
      font-weight: 500;
    }

    &Title {
      @include font-small;
      color: foreground(0.6);
      line-height: 110%;
    }
  }
}


.container {
  max-height: 100svh;
  overflow-y: auto;
  width: 100%;

  &Content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8vh;
    padding: 48px 16px;
    max-width: 50vw;
    width: 100%;
    min-height: 100svh;

    @media (max-width: $screen-lg) {
      max-width: 60vw;
    }

    @media (max-width: $screen-sm) {
      max-width: none;
      gap: 16px;
      backdrop-filter: blur(6px);
    }

    &::after {
      position: absolute;
      inset: 0;
      z-index: -1;
      content: '';
      background: primary(0.7);

      @media (max-width: $screen-sm) {
        background: primary(0.8);
      }
    }
  }
}

.homeAnchor {
  top: 4px;
  left: 4px;
  display: grid;
  place-items: center;
  position: absolute;
  background: transparent;
  padding: 8px;
  backdrop-filter: blur(6px);
  border-radius: 9999px;
  z-index: 10;
  transition: all 128ms ease-in-out;

  &:hover {
    background: foreground(0.05);
  }

  &Icon {
    fill: $foreground;
    width: 28px;
    height: 28px;

    @media (max-width: $screen-sm) {
      width: 24px;
      height: 24px;
    }
  }
}

.logo {
  position: relative;

  font-weight: 800;
  font-size: 48px;
  z-index: 10;

  &::after {
    content: '';
    position: absolute;
    inset: 10%;
    background: foreground(0.9);
    border-radius: 9999px;
    filter: blur(40px);
    z-index: -1;
  }
}

.description {
  font-weight: 500;
  font-size: 24px;
}

.auth {
  &Container {
    position: relative;
    max-width: 325px;
    width: 100%;

    &Highlight {
      z-index: -1;
      position: absolute;
      inset: 25%;
      top: 0;
      border-radius: 9999px;
      background: foreground(0.15);
      filter: blur(24px);
    }

    &OAuth {
      margin-top: 16px;
      display: flex;
      flex-direction: column;
      gap: 8px;
    }
  }

  &Tabs {
    @include font-small;
    font-weight: 500;
    overflow: hidden;

    position: relative;
    display: flex;
    text-align: center;
    margin: 16px 0;
    width: 100%;
    background: foreground(0.1);
    border-radius: 9999px;
    gap: 4px;
    align-items: center;
    justify-content: space-between;

    &Backdrop {
      position: absolute;
      border-radius: inherit;
      height: 100%;
      left: 0;
      background: foreground(0.5);
      z-index: -1;
      transition: width 384ms ease-out,
        transform 384ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    &Item {
      background: transparent;
      font-weight: 500;
      color: $foreground;
      flex: 1;
      height: 100%;
      border: none;
      cursor: pointer;

      padding: 10px 14px;
      display: grid;
      place-items: center;
      border-radius: 9999px;
      text-decoration: none;
    }
  }

  &Form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;

    &Terms {
      display: flex;
      align-items: center;
      gap: 8px;

      @include font-micro;
      max-width: 320px;
      margin: 0 auto;
      color: foreground(0.6);
      text-wrap: pretty;
      font-weight: 500;

      &[data-error] {
        color: $destructive;
      }
    }
  }
}
