@import 'src/styles/variables';
@import 'src/styles/mixins';
@import 'src/styles/utils';

.dropdown {
  &Trigger {
    color: $foreground;

    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;
    border: 1px solid foreground(0.1);
    border-radius: 9999px;
    cursor: pointer;
    transition: 256ms ease;

    &::after {
      content: '';
      position: absolute;
      border-radius: inherit;
      inset: 0;
    }

    &[data-hover]::after {
      background: foreground(0.15);
    }

    &[data-open]::after {
      background: foreground(0.1);
    }

    &Image {
      width: 36px;
      height: 36px;
      object-fit: cover;
      border-radius: inherit;
    }
  }
}
