@import 'src/styles/variables';
@import 'src/styles/mixins';
@import 'src/styles/utils';

.input {
  @include font-small;
  display: block;
  color: $foreground;
  border-radius: $rounded-global;
  border: none;
  background: foreground(0.05);
  padding: 10px 14px;
}

.input[data-focus] {
  outline: foreground(0.03) solid 2px;
  outline-offset: -2px;
}

.input[data-error] {
  outline: $destructive solid 1px;
  outline-offset: -2px;
}

.detailed {
  &Input {
    width: 100%;
  }

  &Label {
    @include font-small;
    line-height: 1.25;
    font-weight: 500;
    color: $foreground;
    margin-bottom: 8px;
  }

  &Description {
    @include font-small;
    color: $grey;
    margin-bottom: 12px;
  }

  &Error {
    @include font-micro;
    font-weight: 500;
    line-height: 1.5;
    color: $destructive;
  }
}
