@import 'src/styles/mixins.scss';
@import 'src/styles/variables.scss';

.header {
  @include container;

  &Title {
    margin: 96px 0;
    font-size: 1.25rem;
    font-weight: 600;
    color: #ffffff;
    text-wrap: pretty;
    line-height: 1.25;

    @media (min-width: $screen-sm) {
      font-size: clamp(2rem, 3.25vw, 3rem);
    }
  }
}

.container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  margin-top: 16px;
  gap: 32px 56px;

  @media (max-width: $screen-lg) {
    gap: 32px 32px;
  }

  @media (max-width: $screen-md) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @media(max-width: $screen-sm) {
    grid-template-columns: minmax(0, 1fr);
  }
}
