@import 'src/styles/variables';
@import 'src/styles/mixins';

.btn {
  @include font-small;
  color: $foreground;
  padding: 10px 14px;
  border-radius: $rounded-full;
  font-weight: 500;
  border: none;
  transition: all 128ms ease;
  cursor: pointer;

  &[data-focus] {
    outline: 1px solid $foreground;
  }

  &Accent {
    box-shadow: inset 0 2px 4px 0 rgba(255, 255, 255, 0.1);
    background-color: #303030;
    transition: box-shadow 128ms ease;

    &[data-hover],
    &[data-open] {
      background-color: #404040;
    }

    @media(hover: hover) {
      &:active {
        box-shadow: inset 0 4px 8px 0 rgba(255, 255, 255, 0.15);
      }
    }
  }

  &Ghost {
    background-color: rgba(0, 0, 0, 0.2);

    &[data-hover],
    &[data-open] {
      background-color: rgba(0, 0, 0, 0.3);
    }
  }

  &Secondary {
    background-color: rgba(255, 255, 255, 0.1);

    &[data-hover],
    &[data-open] {
      background-color: rgba(255, 255, 255, 0.15);
    }
  }

  @media(hover: hover) {
    &[data-active] {
      transform: scale(0.97);
    }
  }
}

.attentionBtn {
  background: $background;
  backdrop-filter: blur(24px);
  transition: all 128ms ease;
  font-weight: 600;
  outline-offset: 1px;
  outline-width: 2px;

  &[data-hover],
  &[data-open] {
    transform: none;
    background: rgba(0, 0, 0, 0.5);
  }

  &Spinner {
    position: absolute;
    inset: -300%;
    animation: spin 3s linear infinite;
    background: conic-gradient(from 90deg at 50% 50%, #F54180 0%, #338EF7 50%, #F54180 100%);
  }

  &Wrapper {
    padding: 2px;
    border-radius: 9999px;
    position: relative;
    overflow: hidden;
    transition: all 128ms ease;

    &:active {
      transform: scale(0.97);
    }
  }
}
