// White
$foreground: #050505;
$primary: #FDFDFD;
$background: #FDFDFD;

// General
$light: #FDFDFD;
$dark: #050505;

$grey: #A3A3A3;
$destructive: #D22B2B;

$blue: #0076F3;
$darkblue: #0033CC;

$rounded-md: 0.25rem;
$rounded-global: 12px;
$rounded-full: 9999px;

$text-sm: 0.875rem;
$text-base: 1rem;
$text-lg: 1.125rem;
$text-xl: 1.25rem;

$screen-sm: 640px;
$screen-md: 868px;
$screen-lg: 1080px;
$screen-xl: 1280px;
$screen-xxl: 1536px;
