@import "./_normalize.scss";
@import "./_variables.scss";
@import "./_mixins.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: $background;
  color: $foreground;

  position: relative;
  min-height: 100svh;
  max-width: 100%;
}

.icon {
  width: 16px;
  height: 16px;
  fill: rgba(255, 255, 255, 0.3);
}

.section {
  &__container {
    @include container;
  }

  &__wrapper {
    min-height: calc(100svh - 60px);
    padding: 0 16px;
  }

  &__rounded {
    background: rgba(0, 0, 0, 0.8);
    border-radius: 32px;
    padding: 64px 16px;

    @media(max-width: $screen-sm) {
      padding: 64px 0;
    }
  }

  &__backdrop {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: -1;
  }
}

button {
  background: transparent;
  border: none;
}
