@import "./_normalize.scss";
@import "./_variables.scss";
@import "./_mixins.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: $background;
  color: $foreground;

  position: relative;
  min-height: 100svh;
  max-width: 100%;
}

.icon {
  width: 16px;
  height: 16px;
  fill: rgba(255, 255, 255, 0.3);
}
